.container {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    height: auto;
    background: #565A69;
}

.title {
    background-color: #565A69;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 35px;
    color: #EA9A01;
}

.intro {
    color: #EA9A01;
}

.main {
    background-image: url(../assets/bg.jpg);
    background-size: 100% 100%;
    /*    background-repeat: no-repeat;*/
}

.Fav {
    color: #C3C3C3;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
}

.empty {
    height: 150px;
}

.cat {
    /*    float: right;*/
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.loc {
    /*    float: right;*/
    padding-bottom: 70px;
    padding-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
}

.aviv {
    font-family: 'Merriweather Sans', sans-serif;
    color: #C3C3C3;
    font-size: 20px;
    text-align: center;
}

.follow {
    color: #EA9A01;
    border-radius: 10%;
}

.followme {
    border-radius: 20%;
}

.links {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #44474F;
    border-right: 1px #FFFFFF solid;
}
