.container {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
}

.title {
    background-color: #565A69;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 35px;
    color: #EA9A01;
}

.intro {
    color: #EA9A01;
}

.main {
    background-image: url(../assets/bg.jpg);
    height: 800px;
    /*    background-repeat: no-repeat;*/
}
